body {
  background-color: #05486e;
}

.container {
  width: 90%;
  height: 500px;
  margin: 30px;
}

.slick-slide {
  height: 320px;
  /* border: 20px solid #05486e; */
  /* box-sizing: border-box; */
}

.slick-slide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
